@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<body background="/Content/Blue_Light.jpg" style="background-size:cover;background-attachment:fixed">
    <h1 class="text-danger" style="color:white">Error.</h1>
    <h2 class="text-danger" style="color:white">An error occurred while processing your request.</h2>
    </body>
