@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}
<body background="/Content/Blue_Light.jpg" style="background-size:cover;background-attachment:fixed">
    <hgroup>
        <h1 class="text-danger" style="color:white">Locked out.</h1>
        <h2 class="text-danger" style="color:white">This account has been locked out, please try again later.</h2>
    </hgroup>
    </body>