@{
    ViewBag.Title = "Login Failure";
}
<body background="/Content/Blue_Light.jpg" style="background-size:cover">
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </hgroup>
</body>