@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<body background="/Content/Blue_Light.jpg" style="background-size:cover">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</body>
