@model IEnumerable<lampbae_final_project.Models.Friend>

@{
    ViewBag.Title = "Friends";
}

<h2>Your Friends</h2>
<br />
@Html.ActionLink("Add New Friend", "Create")
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.UserID1 == User.Identity.Name)
                { 
                }
                else
                {
                    @item.UserID1
                }
                @if (item.UserID2 == User.Identity.Name)
                {
                }
                else
                {
                    @item.UserID2
                }
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ConnectionID })
            </td>
        </tr>
    }

</table>
