@model IEnumerable<lampbae_final_project.Models.Friend>

@{
    ViewBag.Title = "Friends";
}
<body background="/Content/Blue_Light.jpg" style="background-size:cover">

    <div style="margin: 0 auto; width: 656px; text-align: center;">
        <h2>My Friends</h2>
        <br />
        <button> @Html.ActionLink("Add New Friend", "Create")</button>

        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.UserID1 == User.Identity.Name)
                        {
                        }
                        else
                        {
                            @item.UserID1
                        }
                        @if (item.UserID2 == User.Identity.Name)
                        {
                        }
                        else
                        {
                            @item.UserID2
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Remove Friend", "Delete", new { id = item.ConnectionID })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>