
@{
    ViewBag.Title = "Flag";
}

<h4>Reason for Flag:</h4>

<form action="/Home/SubmitFlag">
    <textarea name="info" cols="40" rows="5"></textarea><br />
    <input name="lampid" type="hidden" value="@ViewBag.DaLamp" />

    <input type="submit" value="Submit" />
</form>
    
  
