@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Search for lamps!
    @*<form method="post" action="/Home/Search/">
            <input type="text" name="keywordinput" />
            <input type="submit" value="Submit">
        </form>*@
</div>
