@{
    ViewBag.Title = "Database Populated";
}
<body background="/Content/Blue_Light.jpg" style="background-size:cover;background-attachment:fixed">
    <h2 style="color:white;background-color:darkslateblue; margin-left: 600px; margin-right:600px">Database Populated</h2>
</body>