@{
    ViewBag.Title = "Lamps User Listings Only";
}

<h2>LampBae</h2>
<button type="button" style="float: right">Love It!</button>
<div style="margin: 0 auto; width: 656px; text-align: center;">
    <img src="@ViewBag.urlforone" style="width:200px;height:200px" type="image" alt="Lamp Bae" />
</div>
<button type="button" style="float: left">Leave It!</button>

<br />
<br />
<br />
<br />
<div style="margin: 0 auto; width: 656px; text-align: center;">
    <button type="button">Hot</button>
    <button type="button">Cold</button>
    <br />
    <br />
    <br />
    <form action="/Home/Upload" method="post">
        <button type="button">Upload</button>
    </form>
    <div />
